*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins';
    background: url('images/threatre.png') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}



ul, ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    height: 104.19px;
    align-items: center;
    /* border-bottom: 1px solid; */
    /* border-bottom-width: 1px; */
    /* border-bottom-color: #d6dddf; */
}

.headerContent{
    display: flex;
    justify-content: center; 
    align-items: center;
}

/* .menu{
    width: 768px;
    height: 30px;
}

.menu ul{
    display: flex;
    justify-content: left;
}

.menu li{
     padding: 11px;
    font-weight: 700;
    color: #000000;
    padding-bottom: 8px;
    font-size: 14px;
    padding-right: 46px;
}

.menu a{
    color: #ffffff;
}

.menu a:hover{
    color: #FFEB37;
} */

.search{
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

input[type="text"] {
    padding: 12px;
    width: 500px;
    box-sizing: border-box;
    border-radius: 100px;
}

.search-container{
    position: relative;
}

.search-container i{
    position: absolute;
    margin-left: -32px;
    color: #1a1a1a;
    margin-top: 12px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 18%;
    background-color: white;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.container2 {
    padding: 2px 16px;
    color: black;
}

.recommend{
    display: flex;
    justify-content: center;
    gap: 5%;
    flex-wrap: wrap;
    row-gap: 20px;
    padding-top: 3%;
}

.searchedMovie{
    display: flex;
    margin-left: 5%;
    gap: 2%;
    padding-top: 5%;
    flex-basis:0;
  }
.column:first-child {
    flex: 1; /* Adjust this value for the first column to control its width */
}

.column:last-child {
    flex: 2; /* Adjust this value for the second column to control its width */
    padding: 20px;
}
.searchImage{
    text-align: right;
}